<h2>Lihat Laporan</h2>
<br />
<ul>
<?php
    echo '<li>' . $html->link('Laporan Stok Barang', array('action' => 'stocks')) . '</li>';
    echo '<li>' . $html->link('Laporan Pengguna Barang', array('action' => 'stocks_per_role_id')) . '</li>';
    echo '<li>' . $html->link('Kartu Stok Barang', array('action' => 'stocks_per_item_id')) . '</li>';
?>
</ul>