<div class="<?=$this->params['controller']?> <?=$html->action?>">
<h2><?php echo $options['title'];?></h2>
<?php
    $chart->setup($data, $options['type'], $options['month'], $options, $specific);
    echo $chart->output($options['filename'], false);
?>
</div>